<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Website</title>
	 <link rel="stylesheet" href="static\css\style.css">
	 <link rel="stylesheet" href="static\css\wallpaper.css">
  
</head>
<body>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
    <div class="chat-container">
		<div class="chat-header">Elixir Chatbot</div>
        <ul class="chat-messages" id="chat-messages">
            <!-- Bot messages and user inputs will be appended here -->
        </ul>
        <div class="input-container">
            <input type="text" id="user-input" placeholder="Type your message...">
            <button onclick="sendMessage()">Send</button>
        </div>
		</div>
	<script src="static\js\script.js"></script>

</body>
</html>
